&:root {
	font-family: Arial, Helvetica, sans-serif;
}
.page-head {
	background-color: transparent;
	z-index: 1;
	position: fixed;
	color: white;
	margin-top: 0;
}
.navbar-header {
	color: white;
	&:hover {
		text-decoration: underline blue;
		text-underline-position: under;
		color: white;
	}
}
.navbar-header.selected {
	color: white;
	text-decoration: underline orange;
	text-underline-position: under;
}
.page-body {
	margin: 0;
	display: block;
}
.holding-box {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.holding-box.half-size {
	height: 50vh;
}
.interactive-scroll-image {
	height: 100vh;
	position: relative;
	width: 100vw;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#section1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/code-editoren-t.jpg);
}
.interactive-scroll-image-1 {
	text-align: center;
	color: white;
	position: absolute;
	top: 40%;
	left: 40%;
	h1 {
		font-size: 3em;
	}
}
.horiz-box {
	display: flex;
	flex-direction: row;
}
#services {
	.box-holdingbox {
		flex: 0 1 auto;
		margin-left: 1%;
		margin-right: 1%;
		padding: 1%;
		margin-bottom: 4%;
		h1 {
			text-align: center;
			text-decoration: underline orange;
			text-underline-position: under;
		}
		h2 {
			text-align: justify-all;
			font-weight: light;
		}
		&:hover {
			border-radius: 5%;
			background-color: #EEEEEE;
			box-shadow: gray 2px 2px 2px 2px;
		}
	}
}
.part {
	>h1 {
		font-weight: bolder;
		text-align: center;
	}
}
#section2 {
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
}
#up-button {
	text-decoration: none;
	padding: 0.5% 0.8%;
	background-color: rgba(80, 80, 80, 0.7);
	border-radius: 100%;
	color: white;
	font-size: 2em;
	position: fixed;
	bottom: 2%;
	right: 2%;
	visibility: hidden;
	&:hover {
		background-color: rgba(50, 50, 50, 0.7);
	}
}
#projects {
	.box-holdingbox {
		text-align: justify-all;
		margin: 2%;
		padding: 1%;
		border: ridge 3px transparent
		h1 {
			text-align: center;
		}
		&:hover {
			border: ridge 3px gainsboro;
			cursor: pointer;
		}
		&:active {
			background-color: lightgray;
		}
		h3 {
			text-align: center;
			color: orange;
		}
	}
}
